#! /bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

# Old scorefile
#if [ ! -e /var/games/circuslinux/scorefile ]; then
#  db_input high circuslinux/shared_score_file || true
#  db_go
#  db_input high circuslinux/merge_score_files || true
#  db_go
#else
#  db_input high circuslinux/score_file_exists || true
#  db_go
#fi
